.main-nav {
  display: flex;
  justify-content: space-between;


  nav {
    display: none;
    a {
      text-decoration: none;
      color: $smallletter;
    }

    @media all and (min-width: 992px) {
      display: block;
    }
  }

    .menu-button {
      @media all and (min-width: 992px) {
        display: none;
      }



    }
    .logo {
    width: 70px;
      img {
        width: 100%;
      }
    }
}

.dropdown {
  display: none;
}
