@import "./_normalize.scss";

 * {
   position: relative;
   box-sizing: border-box;
 }

 body, html {
   height: 100%;
   margin: 0;
 }

 $main-color: #b00b00;
 $smallletter: gray;

 @import "./_navbar.scss";


 .left-text {
   display: flex;
   height: 800px;
   background-color: white;
   justify-content: space-between;
   background-image: url('../images/coffee.jpg');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: 50% 100%;
     h3 p {
       color: $smallletter;
       letter-spacing: .1rem;
       line-height: .8rem;
     }

 }

 .mission {
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 5rem;
    h1 p {
      font-size: 4rem;
      text-shadow: 1px 1px 1px $smallletter;
      letter-spacing: .3rem;
      line-height: 1rem;
    }
 }

.explore {
  display: flex;
  align-items: center;
}
